<div style="clear:both;" class="promo-grid promo-grid--space-top hide widescreen--show">
  <div class="flex-grid flex-grid--gutters flex-grid--product-{{forloop.index}}">
    <div class="flex-grid__item flex-grid__item--100 flex-grid__item--advanced type-advanced">
      <div class="promo-grid__container vertical-center horizontal-center">
        <div class="promo-grid__bg">
          {% style %}
          .promo-grid__bg-image {
          object-position: center;
          font-family: "object-fit: cover";
          object-position: center;";
          }
          @media only screen and (min-width: 769px) {
          .flex-grid__item--100 {
          min-height: 540px;
          }
          }

          @media only screen and (min-width: 1140px) {
          .flex-grid__item--100 {
          min-height: 640px;
          }
          }
          {% endstyle %}
          {% for my_image in product.metafields.info_block.desktop_image[forloop.index0] %}
          {% assign image_url = my_image.original_src %}
          {% assign image_aspect_ratio = my_image.aspect_ratio %}
          {% assign image_alt = my_image.alt %}
          {% capture image_sizes %}
          	{{ my_image.cloudinary_src | append: 'w_360' | append:' 360w'}}, {{ my_image.cloudinary_src | append: 'w_540' | append:' 540w'}}, {{ my_image.cloudinary_src | append: 'w_720' | append:' 720w'}}, {{ my_image.cloudinary_src | append: 'w_900' | append:' 900w'}}, {{ my_image.cloudinary_src | append: 'w_1080' | append:' 1080w'}}, {{ my_image.cloudinary_src | append: 'w_1260' | append:' 1260w'}}, {{ my_image.cloudinary_src | append: 'w_1440' | append:' 1440w'}}, {{ my_image.cloudinary_src | append: 'w_1620' | append:' 1620w'}}, {{ my_image.cloudinary_src | append: 'w_1800' | append:' 1800w'}}, {{ my_image.cloudinary_src | append: 'w_1980' | append:' 1980w'}}, {{ my_image.cloudinary_src | append: 'w_2160' | append:' 2160w'}}
          {% endcapture %}
          {% endfor %}
          <img
               class="image-fit promo-grid__bg-image lazyload"
               data-aspectratio="{{ image_aspect_ratio }}"
               data-sizes="auto"
               data-src="{{image_url}}"
               data-parent-fit="cover"
               data-srcset="{{ image_sizes }}"
               alt="{{ image_alt }}">
          <noscript>
            <img
                 class="image-fit promo-grid__bg-image lazyloaded"
                 src="{{ image_url }}"
                 alt="{{ image.alt }}">
          </noscript>
        </div>
        <div class="promo-grid__content">
          <div class="promo-grid__text">
            {% if product.metafields.info_block.header[forloop.index0] %}
            <h2 class="rte--block rte--strong">
              {{ product.metafields.info_block.header[forloop.index0] }}
            </h2>
            {% endif %}
            {% if product.metafields.info_block.description[forloop.index0] %}
            <div class="rte--block">
              {{ product.metafields.info_block.description[forloop.index0] }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;" class="promo-grid promo-grid--space-top widescreen--hide">
  <div class="flex-grid flex-grid--product-{{forloop.index}}">
    <div class="flex-grid__item flex-grid__item--100 flex-grid__item--advanced type-advanced promo-additional-block-text">
      <div class="promo-grid__container promo-overlay vertical-center horizontal-center">
        <div class="promo-grid__bg" style="background-color:{{ product.metafields.info_block.bg_color[forloop.index0] }};" >
        </div>
        <div class="promo-grid__content">
          <div class="promo-grid__text">
            {% if product.metafields.info_block.header[forloop.index0] %}
            <h2 class="rte--block rte--strong">
              {{ product.metafields.info_block.header[forloop.index0] }}
            </h2>
            {% endif %}
            {% if product.metafields.info_block.description[forloop.index0] %}
            <div class="rte--block">
              {{ product.metafields.info_block.description[forloop.index0] }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grid__item flex-grid__item--100 flex-grid__item--advanced type-advanced">
      <div>
        {% for my_image in product.metafields.info_block.image[forloop.index0] %}
        {% assign image_url = my_image.original_src %}
        {% assign image_aspect_ratio = my_image.aspect_ratio %}
        {% assign image_alt = my_image.alt %}
        {% capture image_sizes %}
        {{ my_image.cloudinary_src | append: 'w_360' | append:' 360w'}}, {{ my_image.cloudinary_src | append: 'w_540' | append:' 540w'}}, {{ my_image.cloudinary_src | append: 'w_720' | append:' 720w'}}, {{ my_image.cloudinary_src | append: 'w_900' | append:' 900w'}}, {{ my_image.cloudinary_src | append: 'w_1080' | append:' 1080w'}}, {{ my_image.cloudinary_src | append: 'w_1260' | append:' 1260w'}}, {{ my_image.cloudinary_src | append: 'w_1440' | append:' 1440w'}}, {{ my_image.cloudinary_src | append: 'w_1620' | append:' 1620w'}}, {{ my_image.cloudinary_src | append: 'w_1800' | append:' 1800w'}}, {{ my_image.cloudinary_src | append: 'w_1980' | append:' 1980w'}}, {{ my_image.cloudinary_src | append: 'w_2160' | append:' 2160w'}}
        {% endcapture %}
        {% endfor %}
        <img
             class="lazyload"
             data-aspectratio="{{ image_aspect_ratio }}"
             data-sizes="auto"
             data-src="{{image_url}}"
             data-parent-fit="cover"
             data-srcset="{{ image_sizes }}"
             alt="{{ image_alt }}">
        <noscript>
          <img
               class="image-fit promo-grid__bg-image lazyloaded"
               src="{{ image_url }}"
               alt="{{ image.alt }}">
        </noscript>
      </div>
    </div>
  </div>
</div>