<div
  data-subsection
  data-section-id="{{ section.id }}"
  data-section-type="slideshow-section"
  data-align-top="true"
  class="hero-slideshow"
  {% if section.settings.parallax %}data-parallax="true"{% endif %}>
  <div class="slideshow-wrapper">
    {%- assign natural_height = false -%}
    {% if section.settings.section_height == 'natural' %}
      {% if section.settings.image != blank %}
        {%- assign natural_height = true -%}
        {%- capture natural_height_ratio -%}{{ 100 | divided_by: section.settings.image.aspect_ratio }}%{% endcapture %}
      {% endif %}
    {% endif %}

    {% if natural_height %}
      {% style %}
        .hero-natural--{{ section.id }} {
          height: 0;
          padding-bottom: {{ natural_height_ratio }};
        }
      {% endstyle %}
    {% endif %}

    {% if natural_height %}
      <div class="hero-natural--{{ section.id }}">
    {% endif %}
      <div id="Slideshow-{{ section.id }}"
        class="hero hero--{{ section.settings.section_height }} hero--{{ section.id }} hero--mobile--{{ section.settings.mobile_height }} loading loading--delayed"
        {% if natural_height %}
          data-natural="true"
        {% endif %}
        data-aos="hero__animation"
        data-slide-count="1">
        <div
          class="slideshow__slide slideshow__slide--{{ section.id }}"
          data-id="{{ section.id }}">

          {% style %}
            .slideshow__slide--{{ section.id }} .hero__title {
              font-size: {{ section.settings.title_size | times: 0.5 }}px;
              line-height: 1.15;
            }
            @media only screen and (min-width: 769px) {
              .slideshow__slide--{{ section.id }} .hero__title {
                font-size: {{ section.settings.title_size }}px;
              }
            }

            {% if section.settings.color_accent and section.settings.color_accent != 'rgba(0,0,0,0)' %}
              .slideshow__slide--{{ section.id }} .btn {
                background: {{ section.settings.color_accent }} !important;
                border-color: {{ section.settings.color_accent }} !important;

                {%- assign accent_brightness = section.settings.color_accent | color_extract: 'lightness' -%}

                {% if accent_brightness > 40 %}
                  color: #000 !important;
                {% endif %}
              }

              {% if settings.button_style == 'angled' %}
                .slideshow__slide--{{ section.id }} .btn:before,
                .slideshow__slide--{{ section.id }} .btn:after {
                  background: {{ section.settings.color_accent }} !important;
                  border-color: {{ section.settings.color_accent }} !important;
                }
              {% endif %}
            {% endif %}
          {% endstyle %}

          {%- assign hero_text = false -%}
          {%- assign link_slide = false -%}
          {% if section.settings.title != blank or section.settings.subheading != blank or section.settings.link_text != blank %}
            {%- assign hero_text = true -%}
          {% endif %}
          {% if section.settings.link != blank and section.settings.link_2 == blank %}
            {%- assign link_slide = true -%}
          {% endif %}

          {% if section.settings.parallax %}
            {% if section.settings.image != blank %}
              {% style %}
                .hero__image--{{ section.id }} {
                  background-position: {{ section.settings.focal_point }};
                  background-size: cover;
                }
              {% endstyle %}
            {% endif %}
            <div class="parallax-container">
              <div class="hero__image-wrapper">
                <div
                  class="parallax-image hero__image hero__image--{{ section.id }}{% unless hero_text %} hero__image--no-overlay{% endunless %}{% if section.settings.image != blank %} lazyload{% else %} hero__image--svg{% endif %}"
                  {% if section.settings.image != blank %}
                    data-bgset="{% include 'bgset', image: section.settings.image %}"
                    data-sizes="auto"
                  {% endif %}>
                {% if section.settings.image == blank %}
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="hero__image-wrapper{% unless hero_text %} hero__image-wrapper--no-overlay{% endunless %}">
              {% if section.settings.image != blank %}
                {% style %}
                  .hero__image--{{ section.id }} {
                    object-position: {{ section.settings.focal_point }};
                    font-family: "object-fit: cover; object-position: {{ section.settings.focal_point }};";
                  }
                {% endstyle %}

                {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                <img class="image-fit hero__image hero__image--{{ section.id }} lazyload"
                  src=""
                  data-src="{{ img_url }}"
                  data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ section.settings.image.alt | escape }}">
                <noscript>
                  <img class="image-fit hero__image hero__image--{{ section.id }}"
                    src="{{ section.settings.image | img_url: '1400x' }}"
                    alt="{{ section.settings.image.alt | escape }}">
                </noscript>
              {% else %}
                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
          {% endif %}

          {% if link_slide %}
            <a href="{{ section.settings.link }}" class="hero__slide-link"></a>
          {% endif %}

          {% if hero_text %}
            <div class="hero__text-wrap">
              <div class="hero-right-content">
                <div class="clouds-wrapper">
                  <div class="illustration cloud_1">
                    <svg width="128px" height="60px" viewBox="0 0 128 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Styleguide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="04-Iconography" transform="translate(-826.000000, -979.000000)" fill="#333333">
                          <g id="Blue-Icons" transform="translate(104.000000, 970.000000)">
                            <g id="Recycle-Copy-2" transform="translate(722.000000, 9.000000)">
                              <g id="Illustration/Clouds">
                                <g id="Path">
                                  <path d="M107.922843,37.4152174 C110.422606,39.074195 113.313327,40.0436182 116.304569,40.226087 C122.379695,40.4347826 125.751878,35.2173913 127.350254,29.9478261 C128.422335,26.3413043 128.344365,21.6391304 125.160609,19.0565217 C123.555736,17.7521739 121.911878,17.8956522 119.91066,18.0652174 C115.517656,18.4723138 111.223854,19.616462 107.208122,21.45 L108.806497,24.1826087 C110.391878,22.226087 109.917563,19.6173913 108.650558,17.6152174 C107.013198,15.0065217 104.693604,14.3543478 101.769746,14.823913 C96.4873096,15.7304348 91.3348223,18.6586957 87.0270051,21.776087 L88.742335,24.7043478 C92.2574619,18.3913043 95.7076142,7.74782609 88.5539086,2.53043478 C83.0960406,-1.43478261 75.5914721,1.63695652 70.2245685,4.1673913 C63.3037428,7.47106438 57.0020707,11.9474742 51.5963452,17.4 L54.1043655,20.55 C55.6507614,11.4847826 46.0735025,2.43913043 37.0745178,5.2173913 C33.1760406,6.4173913 29.8883249,9.94565217 27.0229442,12.7043478 C24.7813198,14.876087 22.6046701,17.1195652 20.5254822,19.4413043 L22.0913706,19.7934783 C20.4020305,17.9086957 18.693198,15.75 16.1526904,15.0782609 C12.5011168,14.1065217 8.95350254,16.526087 6.40649746,18.8673913 C1.90375635,22.9304348 -0.649746193,28.6369565 1.29949239,34.676087 C3.20974619,40.4347826 8.57664975,45 14.7037563,43.1608696 C19.0960406,41.8565217 23.1504569,38.823913 26.5096447,35.7782609 L23.9886294,33.026087 C23.897665,37.8586957 26.5226396,43.0826087 30.8564467,45.326087 C35.5930964,47.7782609 41.4148223,43.8195652 45.2093401,41.0543478 L42.928731,37.6826087 C40.9794924,44.6804348 41.8306599,54.7565217 49.2962437,58.1413043 C60.2314721,63.0978261 73.2069036,52.5586957 80.0227411,44.823913 L77.4692386,42.4695652 C79.3340102,50.223913 86.1693401,56.1652174 94.3626396,54.723913 C102.276548,53.3543478 107.357563,45.3391304 109.267817,38.0543478 C109.625178,36.7173913 107.091168,33.2543478 106.590863,35.1456522 C105.109442,40.7413043 101.470863,46.8847826 96.1949239,49.4934783 C92.2249746,51.45 86.8385787,51.4108696 83.3429442,48.4630435 C82.1902377,47.4744609 81.275109,46.2370965 80.6659898,44.8434783 C80.4970558,44.4782609 80.0162437,42.8869565 80.1721827,43.5913043 C79.9967513,42.8543478 78.6907614,40.0173913 77.6186802,41.2434783 C71.5630457,48.123913 61.8428426,56.0478261 52.1486294,55.1347826 C44.3061929,54.4173913 43.857868,46.7478261 45.5667005,40.5456522 C45.7941117,39.7369565 44.5141117,36.2804348 43.2925888,37.173913 C40.5181726,39.2021739 37.1654822,41.3934783 33.7478173,42.0326087 C29.6024365,42.8086957 26.6006091,38.9543478 26.6915736,35.0673913 C26.6915736,34.1347826 25.3920812,31.1934783 24.1640609,32.3217391 C19.4923858,36.5217391 8.44670051,44.523913 4.06091371,35.6021739 C2.11167513,31.5456522 4.48974619,26.7521739 7.30964467,23.8173913 C9.49928934,21.5217391 12.8129949,18.6391304 16.2436548,18.9130435 C18.524264,19.1021739 19.9342132,21.0195652 21.3636548,22.6108696 C21.7535025,23.0413043 22.448731,23.4978261 22.9295431,22.9565217 C26.3640653,18.9741082 30.1311171,15.2933458 34.1896447,11.9543478 C36.7886294,9.88043478 39.5435533,8.38695652 43.013198,8.8173913 C47.4314721,9.36521739 52.2915736,12.7304348 51.4598985,17.7130435 C51.2909645,18.6717391 52.6294416,22.2065217 53.9614213,20.8695652 C58.2247346,16.6051562 63.031213,12.9254262 68.2558376,9.92608696 C72.8885279,7.26521739 78.5738071,4.16086957 84.0641624,4.34347826 C93.9078173,4.67608696 89.8144162,16.473913 86.8450761,21.9521739 C86.448731,22.6956522 87.4948223,25.6630435 88.5604061,24.8869565 C90.5998079,23.3857948 92.7501937,22.0427775 94.9928934,20.8695652 C96.7660262,19.9102348 98.6208077,19.111423 100.535228,18.4826087 C101.759908,18.0448558 103.039042,17.7792942 104.336244,17.6934783 C106.285482,17.6543478 108.793503,19.4347826 107.019695,21.6065217 C106.434924,22.3369565 107.59797,24.8086957 108.618071,24.3456522 C111.761498,22.8791585 115.087994,21.8458906 118.507208,21.273913 C120.112081,21.0195652 122.756548,20.3152174 124.354924,21.0652174 C128.46132,22.9826087 124.575838,31.3826087 123.107411,33.6913043 C119.670254,39.0717391 112.938883,38.9086957 107.95533,35.8043478 C106.961218,35.1913043 107.377056,37.0630435 107.95533,37.4282609 L107.922843,37.4152174 Z" fill-rule="nonzero"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="illustration cloud_2">
                    <svg width="128px" height="60px" viewBox="0 0 128 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Styleguide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="04-Iconography" transform="translate(-826.000000, -979.000000)" fill="#333333">
                          <g id="Blue-Icons" transform="translate(104.000000, 970.000000)">
                            <g id="Recycle-Copy-2" transform="translate(722.000000, 9.000000)">
                              <g id="Illustration/Clouds">
                                <g id="Path">
                                  <path d="M107.922843,37.4152174 C110.422606,39.074195 113.313327,40.0436182 116.304569,40.226087 C122.379695,40.4347826 125.751878,35.2173913 127.350254,29.9478261 C128.422335,26.3413043 128.344365,21.6391304 125.160609,19.0565217 C123.555736,17.7521739 121.911878,17.8956522 119.91066,18.0652174 C115.517656,18.4723138 111.223854,19.616462 107.208122,21.45 L108.806497,24.1826087 C110.391878,22.226087 109.917563,19.6173913 108.650558,17.6152174 C107.013198,15.0065217 104.693604,14.3543478 101.769746,14.823913 C96.4873096,15.7304348 91.3348223,18.6586957 87.0270051,21.776087 L88.742335,24.7043478 C92.2574619,18.3913043 95.7076142,7.74782609 88.5539086,2.53043478 C83.0960406,-1.43478261 75.5914721,1.63695652 70.2245685,4.1673913 C63.3037428,7.47106438 57.0020707,11.9474742 51.5963452,17.4 L54.1043655,20.55 C55.6507614,11.4847826 46.0735025,2.43913043 37.0745178,5.2173913 C33.1760406,6.4173913 29.8883249,9.94565217 27.0229442,12.7043478 C24.7813198,14.876087 22.6046701,17.1195652 20.5254822,19.4413043 L22.0913706,19.7934783 C20.4020305,17.9086957 18.693198,15.75 16.1526904,15.0782609 C12.5011168,14.1065217 8.95350254,16.526087 6.40649746,18.8673913 C1.90375635,22.9304348 -0.649746193,28.6369565 1.29949239,34.676087 C3.20974619,40.4347826 8.57664975,45 14.7037563,43.1608696 C19.0960406,41.8565217 23.1504569,38.823913 26.5096447,35.7782609 L23.9886294,33.026087 C23.897665,37.8586957 26.5226396,43.0826087 30.8564467,45.326087 C35.5930964,47.7782609 41.4148223,43.8195652 45.2093401,41.0543478 L42.928731,37.6826087 C40.9794924,44.6804348 41.8306599,54.7565217 49.2962437,58.1413043 C60.2314721,63.0978261 73.2069036,52.5586957 80.0227411,44.823913 L77.4692386,42.4695652 C79.3340102,50.223913 86.1693401,56.1652174 94.3626396,54.723913 C102.276548,53.3543478 107.357563,45.3391304 109.267817,38.0543478 C109.625178,36.7173913 107.091168,33.2543478 106.590863,35.1456522 C105.109442,40.7413043 101.470863,46.8847826 96.1949239,49.4934783 C92.2249746,51.45 86.8385787,51.4108696 83.3429442,48.4630435 C82.1902377,47.4744609 81.275109,46.2370965 80.6659898,44.8434783 C80.4970558,44.4782609 80.0162437,42.8869565 80.1721827,43.5913043 C79.9967513,42.8543478 78.6907614,40.0173913 77.6186802,41.2434783 C71.5630457,48.123913 61.8428426,56.0478261 52.1486294,55.1347826 C44.3061929,54.4173913 43.857868,46.7478261 45.5667005,40.5456522 C45.7941117,39.7369565 44.5141117,36.2804348 43.2925888,37.173913 C40.5181726,39.2021739 37.1654822,41.3934783 33.7478173,42.0326087 C29.6024365,42.8086957 26.6006091,38.9543478 26.6915736,35.0673913 C26.6915736,34.1347826 25.3920812,31.1934783 24.1640609,32.3217391 C19.4923858,36.5217391 8.44670051,44.523913 4.06091371,35.6021739 C2.11167513,31.5456522 4.48974619,26.7521739 7.30964467,23.8173913 C9.49928934,21.5217391 12.8129949,18.6391304 16.2436548,18.9130435 C18.524264,19.1021739 19.9342132,21.0195652 21.3636548,22.6108696 C21.7535025,23.0413043 22.448731,23.4978261 22.9295431,22.9565217 C26.3640653,18.9741082 30.1311171,15.2933458 34.1896447,11.9543478 C36.7886294,9.88043478 39.5435533,8.38695652 43.013198,8.8173913 C47.4314721,9.36521739 52.2915736,12.7304348 51.4598985,17.7130435 C51.2909645,18.6717391 52.6294416,22.2065217 53.9614213,20.8695652 C58.2247346,16.6051562 63.031213,12.9254262 68.2558376,9.92608696 C72.8885279,7.26521739 78.5738071,4.16086957 84.0641624,4.34347826 C93.9078173,4.67608696 89.8144162,16.473913 86.8450761,21.9521739 C86.448731,22.6956522 87.4948223,25.6630435 88.5604061,24.8869565 C90.5998079,23.3857948 92.7501937,22.0427775 94.9928934,20.8695652 C96.7660262,19.9102348 98.6208077,19.111423 100.535228,18.4826087 C101.759908,18.0448558 103.039042,17.7792942 104.336244,17.6934783 C106.285482,17.6543478 108.793503,19.4347826 107.019695,21.6065217 C106.434924,22.3369565 107.59797,24.8086957 108.618071,24.3456522 C111.761498,22.8791585 115.087994,21.8458906 118.507208,21.273913 C120.112081,21.0195652 122.756548,20.3152174 124.354924,21.0652174 C128.46132,22.9826087 124.575838,31.3826087 123.107411,33.6913043 C119.670254,39.0717391 112.938883,38.9086957 107.95533,35.8043478 C106.961218,35.1913043 107.377056,37.0630435 107.95533,37.4282609 L107.922843,37.4152174 Z" fill-rule="nonzero"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="page-width">
                <div class="hero__text-content {{ section.settings.text_align }}">
                  <div class="hero-left-content">
                    {% unless section.settings.title == blank %}
                      <h2 class="h1 hero__title">
                      
                        {{ section.settings.title | newline_to_br }}

                      </h2>
                    {% endunless %}
                    {% if section.settings.subheading or section.settings.link or section.settings.link_2 or section.settings.content %}
                      {% unless section.settings.subheading == blank %}
                        <div class="hero__subtitle">
                      
                            {{ section.settings.subheading | escape }}
            
                        </div>
                      {% endunless %}
                    {% unless section.settings.content == blank %}
                    <div class="hero-content">
             
                            {{ section.settings.content }}
 
                    </div>
                    {% endunless %}
                      {% if section.settings.link_text != blank or section.settings.link_text_2 != blank %}
                        <div class="hero__link">
                          {% if section.settings.link_text != blank %}
                            <a href="{{ section.settings.link }}" class="btn{% if section.settings.color_accent and section.settings.color_accent == 'rgba(0,0,0,0)' %} btn--inverse{% endif %}">
                              {{ section.settings.link_text }}
                            </a>
                          {% endif %}
                          {% if section.settings.link_text_2 != blank %}
                            <a href="{{ section.settings.link_2 }}" class="btn{% if section.settings.color_accent and section.settings.color_accent == 'rgba(0,0,0,0)' %} btn--inverse{% endif %}">
                              {{ section.settings.link_text_2 }}
                            </a>
                          {% endif %}
                        </div>
                      {% endif %}
                    <span class="down-arrow-wrapper">{% render 'illustration-down-arrow' %}</span>
                    </div>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% if natural_height %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Contest Image Hero",
	"class":"electric-main-header",
  "settings": [
  {
  "type": "checkbox",
  "id": "parallax",
  "label": "Enable parallax",
  "default": true
  },
  {
  "type": "textarea",
  "id": "title",
  "label": "Heading",
  "default": "Two line\ntitle image"
  },
  {
  "type": "range",
  "id": "title_size",
  "label": "Heading text size",
  "default": 80,
  "min": 40,
  "max": 100,
  "unit": "px"
  },
  {
  "type": "text",
  "id": "subheading",
  "label": "Subheading",
  "default": "And optional subtext"
  },
  {
  "type": "richtext",
  "id": "content",
  "label": "Content"
  },
  {
  "type": "url",
  "id": "link",
  "label": "Link"
  },
  {
  "type": "text",
  "id": "link_text",
  "label": "Link text",
  "default": "Optional button"
  },
  {
  "type": "url",
  "id": "link_2",
  "label": "Second link"
  },
  {
  "type": "text",
  "id": "link_text_2",
  "label": "Second link text 2"
  },
  {
  "type": "color",
  "id": "color_accent",
  "label": "Buttons",
  "default": "rgba(0,0,0,0)"
  },
  {
  "type": "select",
  "id": "text_align",
  "label": "Text alignment",
  "default": "vertical-center horizontal-center",
  "options": [
  {
  "value": "vertical-center horizontal-left",
  "label": "Center left"
  },
  {
  "value": "vertical-center horizontal-center",
  "label": "Center"
  },
  {
  "value": "vertical-center horizontal-right",
  "label": "Center right"
  },
  {
  "value": "vertical-bottom horizontal-left",
  "label": "Bottom left"
  },
  {
  "value": "vertical-bottom horizontal-center",
  "label": "Bottom center"
  },
  {
  "value": "vertical-bottom horizontal-right",
  "label": "Bottom right"
  }
  ]
  },
  {
  "type": "image_picker",
  "id": "image",
  "label": "Image"
  },
  {
  "type": "select",
  "id": "focal_point",
  "label": "Image focal point",
  "info": "Used to keep the subject of your photo in view.",
  "default": "center center",
  "options": [
  {
  "value": "20% 0",
  "label": "Top left"
  },
  {
  "value": "top center",
  "label": "Top center"
  },
  {
  "value": "80% 0",
  "label": "Top right"
  },
  {
  "value": "20% 50%",
  "label": "Left"
  },
  {
  "value": "center center",
  "label": "Center"
  },
  {
  "value": "80% 50%",
  "label": "Right"
  },
  {
  "value": "20% 100%",
  "label": "Bottom left"
  },
  {
  "value": "bottom center",
  "label": "Bottom center"
  },
  {
  "value": "80% 100%",
  "label": "Bottom right"
  }
  ]
  },
  {
  "type": "select",
  "id": "section_height",
  "label": "Desktop height",
  "default": "650px",
  "options": [
  {
  "label": "Natural",
  "value": "natural"
  },
  {
  "label": "450px",
  "value": "450px"
  },
  {
  "label": "550px",
  "value": "550px"
  },
  {
  "label": "650px",
  "value": "650px"
  },
  {
  "label": "750px",
  "value": "750px"
  },
  {
  "label": "Full screen",
  "value": "100vh"
  }
  ]
  },
  {
  "type": "select",
  "id": "mobile_height",
  "label": "Mobile height",
  "default": "auto",
  "info": "Not used if desktop height is set to natural",
  "options": [
  {
  "label": "Auto",
  "value": "auto"
  },
  {
  "label": "250px",
  "value": "250px"
  },
  {
  "label": "300px",
  "value": "300px"
  },
  {
  "label": "400px",
  "value": "400px"
  },
  {
  "label": "500px",
  "value": "500px"
  },
  {
  "label": "Full screen",
  "value": "100vh"
  }
  ]
  }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
