{%- for logo in product.metafields.press.logo -%}
{% if forloop.first %}
{% assign logos = forloop.length %}
{% endif %}
{%- endfor -%}
{% if logos > 2 %}
{%- style -%}
.logo-bar--{{ section.id }} {
  opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
}
{%- endstyle -%}
<div class="index-section product-press-logo">
  <div class="page-width text-center" data-aos="logo__animation">
    {%- if section.settings.title != blank -%}
      <h5 class="section-header">{{ section.settings.title | escape }}</h6>
    {%- endif -%}
    <div class="press-quote-wrapper">
    <div class="press-quote-slider">
      {%- for logo in product.metafields.press.logo -%}
        {% if product.metafields.press.quote[forloop.index0] %}
        <div class="press-quote">
          <p class="h4">"{{ product.metafields.press.quote[forloop.index0] }}"</p>
        </div>
        {% endif %}
      {%- endfor -%}
      </div>
    </div>
    <div class="press-wrapper">
      <div class=" press-logo-slider">
        {%- for logo in product.metafields.press.logo -%}
        <div class="logo-bar__item">
          {% assign image = logo[0] %}
          {%- if image != blank -%}
          {% capture srcset %}{% for i in (1..12) %}{% assign width = 180 | times:i %}{{image.cloudinary_src | append:'w_' | append:width }} {{width}}w{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}
          {%- assign img_url = image.cloudinary_src -%}
          <img class="logo-bar__image lazyload press-logo-image"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720]"
               data-aspectratio="{{ image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ image.alt }}">
          {%- endif -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Product Press",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "logo_opacity",
        "label": "Logo opacity",
        "default": 76,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%"
      }
    ]
  }
{% endschema %}
